
// Workflow details
manifest {
    author              = 'Ching-yu Lu, Georgie Samaha, Cali Willet, Sydney Informatics Hub, University of Sydney'
    name                = 'fastqc-nf'
    description         = 'Evaluate the quality of high-throughput sequencing reads'
    homePage            = 'https://github.com/Sydney-Informatics-Hub/fastqc-nf'
    }

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion     = '!>=20.07.1'

// Preset use of containers with Singularity
singularity {
    enabled		    = true
    autoMounts		= true
    autoCleanUp   = true
    }

// Job profiles
profiles {
  gadi          { includeConfig "config/gadi.config" }
}

// Define parameters 
params{    
    input         = false
    output        = './results'
    help          = false
    gadi_account  = false
}

// Set default resources for each process
process {

withName: 'fastqc' {
	cpus      = 1
	memory    = 4.GB
  container	= 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
  }

withName: 'multiqc' {
	cpus      = 1
	memory    = 4.GB
  container	= 'quay.io/biocontainers/multiqc:1.17--pyhdfd78af_1'
  }
}

// Define timestamp, to avoid overwriting existing trace
def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

// Produce a workflow diagram
dag {
  enabled = true
  file    = "${params.output}/runInfo/fastqcnf_dag_${timestamp}.svg"
}

report {
  enabled = true
  file    = "${params.output}/runInfo/fastqc-nf_report_${timestamp}.html"
}

timeline {
  enabled   = true
	overwrite = true
	file      = "${params.output}/runInfo/fastqc-nf_timeline_${timestamp}.html"
}

trace {
	enabled   = true
	overwrite = true
  file      = "${params.output}/runInfo/fastqc-nf_trace_${timestamp}.txt"
  fields    = 'process,name,status,queue,realtime,cpus,%cpu,memory,%mem,rss,env'
}