// profile for the Gadi supercomputer at NCI
// More info: https://opus.nci.org.au/display/DAE/Nextflow

singularity {
    enabled = true
    autoMounts = true
    autoCleanUp = true
}

process {
    module = 'singularity'
    cache = 'lenient'
    stageInMode = 'symlink'
    project = "${params.gadi_account}"
    storage = "scratch/${params.gadi_account}+gdata/${params.gadi_account}"
    executor = 'pbspro'
    queue = 'normal'
    
    withName: 'checkInputs' {
	executor = 'local'
    }

    withName: 'fastqc' {
        cpus      = 1
	    memory    = 4.GB
        time      = '1h'
    }

    withName: 'multiqc' {
        cpus      = 1
	    memory    = 4.GB
        time      = '1h'
    }
}

